<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<section class="container">

  <div class="comment-section">
    <section class="comment">
      <h5>
        {{user.username}}
      </h5>
      <p class="comment-body">
        {{comment_text}}
      </p>

      {{#if isOwner}}
      <a href="/api/comments/{{id}}"><button class="edit-btn edit-comment-btn" data-id="{{id}}" type="submit"><i
            class="fa fa-edit"></i></button></a>
      <a href="api/comments/{{id}}"></a><button class="delete-btn delete-comment-btn" data-id="{{id}}" type="submit"><i
          class="fa fa-trash"></i></button></a>
      {{/if}}
    </section>
  </div>

</section>