
<section class="card">
  <a href="/gallery/{{id}}">
    <header>{{name}}</header>
  <img src="images/{{test.Plants}}" alt="{{plant.[0].description}}">
  </a>
  {{{log test.Plants}}}
</section>
                     