<section class="painting">
    <img src="/images/{{plant.filename}}" alt="{{plant.description}}">
    <div class="painting-details">
        <h3>{{plant.title}}</h3>
        <p>By: {{plant.artist}}</p>
        <p>Plant Description: {{ features}}</p>
        <p>Care Instructions: {{}}</p>
    </div>
</section>