<h3>{{post.title}}</h3>
<p>{{post.post_description}}</p>
<p>{{post.createdAt}}</p>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

<div class="comments">
  {{#each post.comments}}
  <section>
    <div class>
      {{user.username}}
    </div>
    <div>
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

{{log post}}

<script src="/javascript/comments.js"></script>



